---
---

@import "{{ site.theme }}";

body {
  background-image: url('/images/default.jpg');
  background-size: cover;      /* or "contain", or specify dimensions */
  background-repeat: no-repeat;
  background-attachment: fixed; /* optional: makes it stay in place */
  background-position: center center;
}
